NEXT_PUBLIC_API_URL=https://arkanbe.iran.liara.run
NEXT_PUBLIC_FRONTEND_URL=https://arkanfe.iran.liara.run
QUICK_PASS_KEY=cE5ODhlZGYE5ODhlZGYE5ODhlZGYE5ODhlZGYE5ODhlZGY
MAP_KEY=eyJ0eXAiOiJKE5ODhlZGYE5ODhlZGYE5ODhlZGYE5ODhlZGYE5ODhlZGYE5ODhlZGYE5ODhlZGYE5ODhlZGYE5ODhlZGYE5ODhlZGYE5ODhlZGYE5ODhlZGYE5ODhlZGY.eyJhdWQiOiIyNjU2OCIsImp0aSI6ImY3ODBhM2RlYzVhNTVhZTY3YTg2ZTM2ODg2MzAxN2VhNDA0ZDU3ZDVlMjJjNGRlMDdkYmY0OTFjY2NjZGE5ODhlZGY1N2U1YjgzZTVhODBhIiwiaWF0IjoxNzA5NzY3MzgxLCJuYmYiOjE3MDk3NjczODEsImV4cCI6MTcxMjE4NjU4MSwic3ViIjoiIiwic2NvcGVzIjpbImJhc2ljIl19.keE6NWYWbA-cc0JpoqU6fkRPPvbiUjhPYlYrAC9As0QDeFpmy7LlZV2v38yatococd5Z924GRZpbYKzdJYwX0USI2qt75iccO6VIpb-JtGszAYTVimnuZ5VU39zEL3kCiUaat-G0ZmK8Q0mQ6h5p1uTXiFKVyYvARgw01usS4tVb4VIxy1j6bmL50uDiFBpdBIWRlsXv_WLbHAZ7AV1NFsxkpLwIVNapJFHHudelG5KsOAZASavrvwmf1fV4Sf02vHn70bci1V8MOGKo3gsYGBie1alJZhKTNsrMQYOmdBNpCRVUx6LfZZRVDC8bopbLJx9b-CLSyqmpTqkQAQelZw
